<label for="dashboardOptions" class="text-white">Dasboard</label>
<div class="dropdown">
  <button class="btn btn-default custom-select text-left" type="button" id="dropdownMenu2" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="true">
    <span class="caret"> Filters </span>
  </button>
  <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu2">
  
    <li >
      <label>
        <input class="j_check" type="radio" name="layout" value="{{ settings['dashboard']['grid'] }} grid"> Grid
      </label>
    </li>
    
    <li >
      <label>
        <input class="j_check" type="radio" name="layout" value="{{ settings['dashboard']['table'] }} table"> Table
      </label>
    </li>

    <div class="dropdown-divider"></div>

    <li >
      <label>
        <input class="j_check" type="checkbox" name="dash_1hour" value={{ settings['dashboard']['1hour'] }}> 1 Hour %
      </label>
    </li>

    <li >
      <label>
        <input class="j_check" type="checkbox" name="dash_24hours" value={{ settings['dashboard']['24hours'] }}> 24 Hours %
      </label>
    </li>

    <li >
      <label>
        <input class="j_check" type="checkbox" name="dash_7days" value={{ settings['dashboard']['7days'] }}> 7 Days %
      </label>
    </li>

    <li >
      <label>
        <input class="j_check" type="checkbox" name="dash_14days" value={{ settings['dashboard']['14days'] }}> 14 Days %
      </label>
    </li>

    <li >
      <label>
        <input class="j_check" type="checkbox" name="dash_30days" value={{ settings['dashboard']['30days'] }}> 30 Days %
      </label>
    </li>

    <li >
      <label>
        <input class="j_check" type="checkbox" name="dash_200days" value={{ settings['dashboard']['200days'] }}> 200 Days %
      </label>
    </li>

    <li >
      <label>
        <input class="j_check" type="checkbox" name="dash_1year" value={{ settings['dashboard']['1year'] }}> 1 Year %
      </label>
    </li>

    <div class="dropdown-divider"></div>

    <li >
      <label>
        <input class="j_check" type="checkbox" name="quantity" value={{ settings['dashboard']['quantity'] }}> Quantity
      </label>
    </li>

    <li >
      <label>
        <input class="j_check" type="checkbox" name="netvalue" value={{ settings['dashboard']['netvalue'] }}> Quantity Value
      </label>
    </li>

    <div class="dropdown-divider"></div>

    <li >
      <label>
        <input class="j_check" type="checkbox" name="dash_sparkline" value={{ settings['search']['sparkline'] }}> Sparkline Graph
      </label>
    </li>
    
  </ul>
</div>