.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 112%;
  right: 0;
}

html, body { 
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}
.wrapper
{
  position: relative;
  overflow: auto;
}
.footerfix{height:4rem;}
footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #292b2c;
}

.container-fluid {
  max-width: 90%;
}


.col-xs-6,
.col-sm-9 {
  margin: 2em;
}

.col-md-4 {
  min-width: 38%;
  margin-top: 1em;
}

.col-lg-5 {
  margin: 1em;
  min-width: 30%;
}

.col-xl-2,
.col-xl-3 {
  margin: 2em;
  min-width: 20%;
  padding-left: 0px;
  padding-right: 0px;
}

.col-xxl-2 {
  margin: 2em;
  min-width: 20%;
  padding-left: 0px;
  padding-right: 0px;
}